/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* css reset */

.wrap{
    width: 1024px;
    margin: 0 auto;
}

.content{
    display: flex;
    justify-content:space-between;
    padding: 30px 42px;
}

.menu{
    width: 300px;
}

.menu h2{
    line-height: 33px;
    text-align: center;
    padding: 16px 102px;
    color: #EAF0ED;
    background-color: #3F5D45;
    font-weight: bold;
}
.menu ul{
    width: 300px;
}

.menu a{
    display: block;
    line-height: 33px;
    text-align: center;
    padding-top: 16px;
    padding-bottom: 15px;
    padding-right: 63px;
    padding-left: 63px;
    text-decoration: none;
    color: #3F5D45;
    font-weight: bold;
    border-left: 1px solid #EAF0ED;
    border-right: 1px solid #EAF0ED;
    border-bottom: 1px solid #EAF0ED;
}

.menu a:hover{
    background-color: #EAF0ED;
}

.product_list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 620px;
    font-size: 0px;
}

.product{
    text-align: center;
    color: #3F5D45;
    margin-bottom: 20px;
    width: 300px;
}

.product h3{
    display: inline-block;
    line-height: 28px;
    font-size: 20px;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 32px;
    padding-right: 32px;
    border-left: 1px solid #EAF0ED;
    width: 108px;
}

.product span{
    display: inline-block;
    line-height: 28px;
    font-size: 20px;
    border-left: 1px solid #EAF0ED;
    border-right: 1px solid #EAF0ED;
    padding-top: 14px;
    padding-bottom: 14px;
    padding-left: 24px;
    padding-right: 19px;
    width: 82px;
}

.product .buy{
    padding: 0px;
    width: 298px;
}

.product .buy a{
    display: block;
    font-size: 24px;
    text-decoration: none;
    line-height: 33px;
    color: #3F5D45;
    background-color: #EAF0ED;
    padding: 16px 89px;
}

.product .buy a:hover{
    color: #EAF0ED;
    background-color: #3F5D45;
}